<!--vinculando as propriedades no ts-->
<div>
    <h1>Interpolation Data Binding!</h1>
    <span>O valor da variável x é: {{ x }}</span>
    <br/>
    <span>O Array de números é composto por: {{ umArray }}</span>
    <br/>
    <span>A data de hoje é: {{ dataHoje }}</span>
    <br/>
    <span> O Status Boleano indicado na variável é {{ status }}</span>
    <br/>
    <span>{{ status ? "Esse é o texto para Status True" : "Esse é o Texto para Status False" }}</span>
    <br/>
    <span>{{exibirTexto()}}</span>
</div>