<div>
  <header><h1>{{ title }}</h1></header>
  <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/interpolation">Interpolation</a>
    <a routerLink="/meusDados">Meus Dados</a>
    <a routerLink="/twoWay">TwoWay DataBinding</a>
    <a routerLink="/inputProp">Input Property</a>
    <a routerLink="/outputProp">Output Property</a>
    <a routerLink="/ngIf">ngIf</a>
    <a routerLink="/ngFor">ngFor</a>
    <a routerLink="/ngClass">ngClass</a>
    <a routerLink="/ngStyle">ngStyle</a>
    <a routerLink="/pipe">Pipe</a>
    <a routerLink="/formulario">Formulario</a>
    <a routerLink="/formModel">Formulario Model</a>
    <a routerLink="/service">Services</a>
  </nav>
  <br/>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<footer>Copyright &copy; {{ nome }} {{ ano }} </footer>

